name: Build APK

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Install Gradle 8.7
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.7

      - name: Build app
        run: gradle assembleDebug
        
      - name: Rename APK to reminiscence.apk 
        run: cp app/build/outputs/apk/debug/app-debug.apk reminiscence.apk
      
      - name: Generate release version 
        id: version 
        run: echo "version=v$(date +'%Y.%m.%d.%H%M')" >> $GITHUB_OUTPUT 
        
      - name: Create GitHub Release and Upload APK 
        uses: softprops/action-gh-release@v2 
        with: 
          tag_name: ${{ steps.version.outputs.version }} 
          name: Reminiscence ${{ steps.version.outputs.version }} 
          files: reminiscence.apk 
        env: 
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
